:root {
  --primary-color: white; 
  --secondary-color: #0482ff;
  --thired-color: #95b7ff;
  --text-color: white;
  --glow-color: rgba(106, 13, 173, 0.8);
  --hover-text-color: linear-gradient(45deg, #ff6600, #ffcc00, #ff0066);
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100vh;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.header img {
  background-color: var(--primary-color);
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%; 
  object-fit: cover;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .header img {
    width: 120px;
    height: 120px;
  }
}

.inside-ex-text {
  font-size: 4rem; 
  font-weight: bold;
  color: var(--primary-color);
  text-shadow: 0 0 15px var(--secondary-color), 0 0 25px var(--glow-color);
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 15px var(--secondary-color);
  }
  to {
    text-shadow: 0 0 30px var(--primary-color), 0 0 40px var(--secondary-color);
  }
}

.exb-below-text {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--thired-color); 
}

.home-text {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--text-color);
  margin-top: 10px;
}

.menu {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
  flex-wrap: wrap; 
}

.menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px; 
}

.button-style {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--text-color);
  padding: 15px 25px;
  border: 3px solid;
  border-image-source: linear-gradient(45deg, #ff6600, #ffcc00, #ff0066);
  border-image-slice: 1;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px; 
  border-radius: 12px;
}


.button-style:hover {
  background-color: black;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: var(--hover-text-color);
  border-image-source: var(--hover-text-color);
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }

  .menu li {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .header img {
    margin: 0 auto;
  }
}
